<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538862384527-93nhbgdfiqdq9s02svg1kb4amkt7u10a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538862384527-93nhbgdfiqdq9s02svg1kb4amkt7u10a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538862384527-o25lh78kgn6aa23l4jve4dkgbrb0es8t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVYnsoZr5EzakTMMPVk3akaJNsGrdubIo</string>
	<key>GCM_SENDER_ID</key>
	<string>538862384527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.happyPlace</string>
	<key>PROJECT_ID</key>
	<string>happyplaceauth</string>
	<key>STORAGE_BUCKET</key>
	<string>happyplaceauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538862384527:ios:7f8b5ad9b26599b12507fa</string>
</dict>
</plist>